@import "common";
header {
  background-color: $main-color;

  .container {
    .title > h1 {
      font-size: 3.0rem;
      padding: 20px;
      text-align: center;
    }
    .menu {
      margin: 0 auto;
      width: 600px;

      ul {
        display: flex;
        align-items: center;
        text-align: center;
        height: 50px;


        li {
          background-color: $sub-color;
          border-radius: 5px;
          flex: 1;
          margin: 1px;
          padding: 12px;

          > a {
            color: #ffffff;
            font-size: 1.2rem;
          }
          > a:hover {
            color: #ffd700;
          }
        }
      }
    }
  }
}