{%- extends "layouts/base_no_navigation.html" %}
{%- block content %}

  <script type="text/javascript">
    var data = JSON.parse('{{ json_data | safe }}')
  </script>

  <div id="vue-app" class="page-login">
    <form action="/login" method="post">

      <div class="login">
        <div class="id">
          <label for="login_id">ログインID</label>
          <input type="text" name="login_id" id="login_id" required>
        </div>

        <div class="password">
          <label for="passwd">パスワード</label>
          <input type="password" name="passwd" id="passwd" required>
          <div class="message">
            <p>[[ message ]]</p>
          </div>
        </div>

        <div class="login-button">
          <input type="submit" value="ログイン">
        </div>
      </div>

    </form>
  </div>

  <script src="/static/dist/js/login.bundle.js"></script>

{%- endblock %}
