{%- extends "layouts/base_no_navigation.html" %}
{%- block content %}


  <div id="vue-app" class=""></div>

  <div id="vue-app" class="">
    <form action="/login" method="post">
      <div>
        <label for="login_id">ログインID</label>
        <input type="text" name="login_id" id="login_id" required>
      </div>
      <div>
        <label for="passwd">パスワード</label>
        <input type="password" name="passwd" id="passwd" required>
        <div class="message">
          <p>{{ message }}</p>
        </div>
      </div>
      <div>
        <input type="submit" value="ログイン">
      </div>

    </form>
  </div>

  <script src="/static/dist/js/login.bundle.js"></script>

{%- endblock %}
